In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('DataLab1.csv')
dataset

    Country   Age   Tall   Salary Purchased
0    France  44.0  187.0  72000.0        No
1     Spain  27.0  166.0  48000.0       Yes
2   Germany  30.0  169.0  54000.0        No
3        UK  57.0  171.0  73000.0       Yes
4   Germany  40.0  176.0      NaN       Yes
5    France  35.0    NaN  58000.0       Yes
6     Spain   NaN  159.0  52000.0        No
7    France  48.0  197.0  79000.0       Yes
8   Germany  50.0  165.0  83000.0        No
9    France  37.0  174.0  67000.0       Yes
10    Spain  38.0    NaN  61000.0        No
11       UK  41.0  167.0  71000.0        No
12       UK  35.0  178.0  72000.0       Yes
13  Germany  46.0  169.0  77000.0        No
14    Spain  32.0  170.0      NaN       Yes
15       UK  38.0  183.0  64000.0       Yes
16   France  56.0  168.0  83000.0        No

In [7]:
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, 3].values

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values= np.nan, strategy= 'median')
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X), dtype= float)
Y = LabelEncoder().fit_transform(Y)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)